* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
}

.map-comp {
  width: 95%;
  height: 93vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

/* Sizing of map container */
.leaflet-container {
  height: 93vh;
  width: 100%;
  border-radius: 12px;
}

.start-up, h2 {
  text-align: center;
}

.start-up h3, .ship-wreck-card h2 {
  margin-bottom: .5rem;
}

.facts p {
  margin-bottom: 0.25rem;
}

h1 {
  text-align: center;
}

.App {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.view {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

button.filter-button {
  background-color: white;
  border: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-right: 3px;
  margin-bottom: 3px;
}

button.filter-button.non-visible {
  text-decoration: line-through;
  text-decoration-thickness: 3px;
}

.map-filter {
  margin: 1rem auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 60%;
}

.circle {
  background-color: blue;
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.table-view {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.6rem;
  margin: 0 auto;
}

header {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem;
}

@media (max-width: 1300px) {
  .leaflet-container {
    height: 80vh;
  }

  .map-comp {
    height: 80vh;
  }

  .map-filter {
    width: 70%;
  }
}

@media (max-width: 550px) {
  .leaflet-container {
    height: 70vh;
  }

  .map-comp {
    height: 70vh;
  }

  header {
    display: flex;
    flex-direction: column;
    margin: 1rem;
  }

  header h1 {
    margin-bottom: 0.6rem;
  }
}

:focus-visible {
  outline: 3px solid #005fcc;
  outline-offset: 2px;
}